<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-9.1</feature>
        <feature>mpopenapi-3.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <!-- Datasource Definition -->
    <dataSource id="jdbc/contabilidadDS" jndiName="jdbc/contabilidadDS">
        <jdbcDriver libraryRef="H2Lib"/>
        <properties.h2 databaseName="${server.config.dir}/h2/contabilidad" user="sa" password="sa"/>
    </dataSource>

    <library id="H2Lib">
        <fileset dir="${shared.resource.dir}/h2" includes="h2-*.jar"/>
    </library>

    <!-- Database configuration -->
    <jpa defaultPersistenceProvider="org.hibernate.jpa.HibernatePersistenceProvider">
        <hibernate.javax.persistence.jdbc.driver>org.h2.Driver</hibernate.javax.persistence.jdbc.driver>
    </jpa>

</server>
